@import "src/frontend/src/styles/variables";

.app {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;

  .appContent {
    width: calc(100% - 230px); //TO DO - change width to suit with nav-menu
    height: 100%;
    overflow-y: auto;
  }
}