@import "src/frontend/src/styles/variables";

.messageBox {
  width: 280px;
  height: 100%;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;

  .message {
    color: $colorWhite;
    font-size: 15px;
    font-weight: 600;
    font-style: normal;
    text-align: center;
  }

  &.wide {
    width: 100%;
  }

  &.colorGreen {
    background-color: $colorGreen;
  }

  &.colorRed {
    background-color: $colorRed;
  }

  a {
    color: $colorLemonGreen;
    padding-left: 6px;

    &:hover {
      text-decoration: underline;
    }
  }
}