@import "src/frontend/src/styles/variables";

.inputField {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;

  .label {
    width: 100%;
    height: auto;
    margin-bottom: 3px;
    padding-left: 2px;
    color: $colorBlack;

    &.whiteLabel {
      color: $colorWhite;
    }

    p {
      font-weight: 700;
      font-style: normal;
      font-size: 20px;
    }
  }

  .input {
    width: 100%;
    height: auto;
    background-color: $colorGray;
    border: 2px solid transparent;
    border-radius: 10px;
    color: $colorDarkGray2;
    font-family: 'Nunito', sans-serif;
    font-size: 17px;
    font-weight: 700;
    font-style: normal;
    padding: 7px 9px;

    &::placeholder {
      color: $colorLightGray2;
      font-size: 14px;
      font-weight: 700;
      font-style: normal;
    }

    &:focus {
      outline: none;
      border-color: $colorDarkPurple;
    }

    &:focus-visible {
      outline: none;
    }

    &.errorInput {
      background-color: $colorLightRed;
      border-color: $colorRed;
    }

    &.disabled {
      cursor: not-allowed;
      background-color: $colorDarkGray;
    }
    
    &.borderBlack {
      border-color: $colorBlack;
      
      &:focus {
        border-color: $colorDarkPurple;
      }
    }
  }

  .errorMessage {
    height: 20px;
    padding-left: 2px;

    p {
      color: $colorRed;
      font-size: 13px;
      font-weight: 600;
      font-style: normal;
    }
  }
}