@import "../../../styles/variables";

.contentContainer {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  
  p {
    width: 100%;
    height: auto;
    text-align: center;
    font-weight: 700;
    font-size: 25px;
    color: $colorBlack;
    margin-bottom: 5px;
  }

  .messageBarContainer {
    width: 100%;
    height: 25px;
  }
}