//Color variables
$colorBlack: #000000;
$colorWhite: #FFFFFF;
$colorDarkWhite: #F7F3FF;
$colorLighterPurple: #CC99FF;
$colorLightPurple: #B266FF;
$colorSemiLightPurple: #A26BD9;
$colorSemiDarkPurple: #9033ED;
$colorDarkPurple: #7844AD;
$colorDarkerPurple: #4D2B6E;
$colorLightGray: #F7F3FF;
$colorGray: #EAEAEA;
$colorDarkGray: #C8C8C8;
$colorSemiDarkerGray: #B5B5B5;
$colorDarkerGray: #999999;
$colorSolidDarkGray: #525252;
$colorRed: #FF1A1A;
$colorLightRed: #FFCCCC;
$colorLemonGreen: #8FEB34;
$colorGreen: #108700;
$colorBlue: #1A53FF;

// New color variables
$colorDarkWhite2: #D9D9D9;
$colorLightGray2: #585858;
$colorLighterGray2: #868686;
$colorDarkGray2: #363636;
$colorSemiDarkerGray2: #242424;
$colorDarkerGray2: #1F1F1F;
$colorSilver2: #D9D9D9;
