//Color variables
$colorBlack: #000000;
$colorWhite: #FFFFFF;
$colorDarkWhite: #F7F3FF;
$colorLighterPurple: #CC99FF;
$colorLightPurple: #B266FF;
$colorSemiLightPurple: #A26BD9;
$colorSemiDarkPurple: #9033ED;
$colorDarkPurple: #7844AD;
$colorDarkerPurple: #4D2B6E;
$colorLightGray: #F7F3FF;
$colorGray: #EAEAEA;
$colorDarkGray: #C8C8C8;
$colorSemiDarkerGray: #B5B5B5;
$colorDarkerGray: #999999;
$colorSolidDarkGray: #525252;
$colorRed: #FF1A1A;
$colorLightRed: #FFCCCC;
$colorLemonGreen: #8FEB34;
$colorGreen: #108700;
$colorBlue: #1A53FF;

//Size variables
