@import "src/frontend/src/styles/variables";

.loginForm {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  overflow: hidden;
  background-color: $colorDarkGray2;
  color: $colorWhite;
  font-style: normal;
  padding: 20px 20px;
  position: relative; //added here 'position: relative' for loading modal to be on whole element

  .middleSite {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: transparent;
    padding-top: 40px;
    //position: relative;

    .input {
      width: 100%;
      margin-bottom: 10px;

      &:last-child {
        margin-bottom: 23px;
      }
    }

    .submitButtonForm {
      width: 100%;
      height: 45px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 12px;

      .buttonWrap {
        width: 260px;
        height: 100%;
      }
    }

    .loginErrorWrap {
      width: 100%;
      height: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 10px;
    }

    .additionalInfo {
      font-weight: 700;
      font-size: 25px;

      p {
        font-style: normal;
        color: $colorWhite;
      }

      a {
        font-style: normal;
        color: $colorLighterGray2;
        padding-left: 5px;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}

@media all and (min-width: 800px) {
  .loginForm {
    width: 680px;
    padding: 40px 50px;
  }
}