@import "src/frontend/src/styles/variables";

.stocksTableWrapper {
  width: 100%;
  height: auto;
  margin-top: 30px;
  padding: 5px;
  border-radius: 10px;
  background-color: $colorBlack;

  .noActionsMessage {
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $colorWhite;
    font-size: 20px;
    font-weight: 700;
    background-color: transparent;
    border-radius: 10px;
  }

  table, td {
    border: 2px solid $colorBlack;
  }

  table {
    width: 100%;
    border-collapse: collapse;
    text-align: center;

    thead {
      background-color: $colorDarkerGray2;

      th {
        font-weight: 700;
        font-size: 32px;
        color: $colorDarkWhite2;
        border: 5px solid $colorBlack;
        position: relative;

        &.cursorPointer {
          cursor: pointer;
        }

        .arrow {
          width: 25px;
          height: 25px;
          position: absolute;
          top: 20px;
          right: 5px;

          &.ascendingArrow {
            filter: invert(48%) sepia(97%) saturate(382%) hue-rotate(89deg) brightness(93%) contrast(92%);
            transform: rotateZ(180deg);
          }

          &.descendingArrow {
            filter: invert(23%) sepia(100%) saturate(1901%) hue-rotate(353deg) brightness(93%) contrast(86%);
          }
        }
      }
    }

    tbody {
      background-color: $colorDarkGray2;

      tr {
        &:hover {
          background-color: $colorSemiLightGray2;
        }
      }

      td {
        font-weight: 700;
        font-size: 24px;
        color: $colorWhite;

        .buttonWrapper {
          height: 35px;
          width: 200px;
          margin: 0 auto 6px auto;

          &:last-of-type {
            margin-bottom: 0;
          }
        }
      }
    }

    th, td {
      padding: 10px;
    }
  }

  .loaderWrapper {
    width: 100%;
    height: 60px;
    padding: 20px 10px;
    position: relative;
  }

  .endOfDataMessage {
    display: flex;
    justify-content: center;
    align-items: center;
    color: $colorWhite;
  }
}