@import "src/frontend/src/styles/variables";

.error {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  font-weight: 600;
  background-color: $colorDarkGray2;
  padding: 20px;
  border-radius: 10px;
  color: $colorWhite;

  .inline {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
  }

  a {
    color: $colorSemiLightPurple;
    padding-left: 5px;

    &:hover {
      color: $colorLightPurple;
    }
  }
}