@import "src/frontend/src/styles/variables";

.container {
  width: auto;
  height: auto;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  .inline {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    padding-bottom: 10px;

    &.smallPadding {
      padding-bottom: 7px;
    }

    .logo {
      width: 75px;
      height: 75px;
      filter: invert(99%) sepia(100%) saturate(0%) hue-rotate(124deg) brightness(107%) contrast(100%); //from: https://codepen.io/sosuke/pen/Pjoqqp ;color #FFFFFF

      &.smallLogo {
        width: 35px;
        height: 35px;
      }
    }

    .text {
      font-weight: 700;
      font-size: 55px;
      color: $colorWhite;

      &.smallText {
        font-size: 40px;
      }
    }
  }

  .pad {
    width: 100%;
    height: 5px;
    background-color: $colorWhite;
    border-radius: 3px;
  }
}