@import "../../../styles/variables";

.container {
  max-width: 1300px;
  margin: 45px auto 0 auto;

  .searchBarWrapper {
    position: sticky;
    top: 0;
    width: 100%;
    height: auto;
    z-index: 99;
  }
}