@import "src/frontend/src/styles/variables";

.buttonWrap {
  width: 35px;
  height: 35px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  background-color: $colorDarkGray2;
  border-radius: 50%;
  overflow: hidden;
  visibility: hidden;
  transform: translateX(70px);
  transition: transform ease-in-out 0.5s;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  &.isShowed {
    transform: translateX(0);
  }

  img {
    width: 20px;
    height: 20px;
    filter: invert(99%) sepia(91%) saturate(30%) hue-rotate(306deg) brightness(108%) contrast(100%);
    transform: rotateZ(180deg);
    transition: filter ease-in-out 0.3s;
  }

  &:hover {
    img {
      filter: none;
    }
  }
}

@media all and (min-width: 950px) {
  .buttonWrap {
    visibility: visible;
  }
}